*{
    margin: 0;
    padding: 0;

}
body{
    box-sizing: border-box;
    background: #FAFAFA;
    font-family: Commissioner;
    font-weight: 700;


}


.container{
    width: 1440px;
    height: 2100px;
    background-image: url("../img/Bitmap.png");  
    background-repeat:no-repeat;
    margin: 0 auto;

}
.ust{
    display: flex;
    justify-content: space-around;

    img{
        margin-top: 48px;
    }
    .navBar{
        margin-top: 48px;

    }
}
.navBar{
    display:flex;
    gap: 32px;
    

    a{
        text-decoration: none;
        color: #FFF;
        font-size: 13px;
        font-weight: 500;
    }
}
.kutu1{
    .img1{
        position: relative;
        left: 685px;
        top: 230px;
    }
}
.kutu1-1{
    width: 730px;
    height: 269px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background: #FFF;
    margin: 0  auto;
    margin-top: 200px;
      h2{
        color: #000;
        text-align: center;
        font-size: 28px;
        margin-top: 56px;
      }

      p{
        color: #7A7A7A;
        text-align: center;
        margin-top: 15px;

      }
      .button{
        display: flex;
        justify-content: space-around;
        margin-top: 58px;
        gap: 130px;
      }
}
.btp{
    width: 204px;
    height: 56px;
    border-radius: 33.5px;
    background: #3CB3AB;
    text-align: center;
    border: none;
    color: #FFF;
    font-family: Commissioner;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
.bookmark{
    width: 174px;
    height: 56px;
    display: flex;
    border-radius: 33.5px;
    background: #FAFAFA;
    
    img{
        
        background: #2F2F2F;
        border-radius: 33.5px;

    }


    h5{
        margin: 17px 24px 19px 24px;
        color: #7A7A7A;
        text-align: center;
        text-justify: center;
    }
}

.kutu2{
    width: 730px;
    height: 212px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background: #FFF;
     margin: 0 auto;
     margin-top: 24px;
}
.kutu2-ust{
    display: flex;
    justify-content:left;
    margin-top: 50px;
    margin-left: 48px;
    gap: 50px;

    p{
        margin-top: 8px;
        color: #7A7A7A;
        font-family: Commissioner;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
    }
}
.slider{
    display: flex;
    justify-content: center;
    margin: 40px 48px 50px 48px;
}
.slider1{
    width: 634px;
    height: 12px;
    border-radius: 33.5px;
    border-radius: 33.5px;
    background: #3CB3AB;

}
input[type="range"]{
    appearance: none; 
    background: #3CB3AB;



}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
     height: 9px;
     width: 9px;
    margin-top: -4px;
    cursor: pointer;
    background: #3CB3AB;
    border-radius: 50%;
  }
.cizgi{
    width: 1px;
    height: 63px;
    opacity: 0.15;
    background: #000;
}

.kutu3{
    width: 730px;
    /* height: 1197px; */
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background: #FFF;
    margin: 0 auto;
    margin-top: 24px;
    
        h3{
            color: #000;
            font-size: 20px;
            margin: 48px 0px 0px 48px;
        }
        p{
            width: 634px;
            margin: 35px 48px 0px 48px;
            color: #7A7A7A;
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
        }

        h6{
            width: 634px;
            margin: 35px 48px 0px 48px;
            color: #7A7A7A;
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
        }
}
.kutu3-1{
    width: 634px;
    height: 248px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: #FFF;
    margin: 0 auto;
    margin-top: 40px;
    h5{
        
        margin: 24px 32px 24px 32px;
        width: 570px;
        color: #7A7A7A;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px; /* 187.5% */
    }
}
.kutu3-1-ust{
    display: flex;
    justify-content: space-around;
    gap: 200px;
    margin-top  : 38px;

    h2{
        color: #000;
        font-family: Commissioner;
        font-size: 18px;
        font-weight: 700;
    }

    h3{
        margin: 0;
        color: #3CB3AB;
        text-align: right;
        font-family: Commissioner;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
    }

}
.kutu3-1-ust2{
    display: flex;
    justify-content: space-around;
    gap: 130px;
    margin-top  : 38px;

    h2{
        color: #000;
        font-family: Commissioner;
        font-size: 18px;
        font-weight: 700;
    }

    h3{
        margin: 0;
        color: #3CB3AB;
        text-align: right;
        font-family: Commissioner;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
    }
}
.kutu3-1-alt{
    display: flex;
   justify-content: space-around;
   gap: 290px;
    h6{
        width: 20px;

    }
    button{
        width: 157px;
        height: 48px;
        border-radius: 33.5px;
        background: #3CB3AB;
        color: #FFF;
        font-family: Commissioner;
        font-size: 14px;
        font-weight: 700;
        border: none;
    }
}
.kutu3-1-alt-SOL{
    display: flex;
    

    h6{
        margin: 0;
        
    }
    h2{
        margin-right: 8px;
    }
}
.kutu3-2{
    margin-bottom: 40px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: #FFF;
    opacity: 0.5;

    button{
        border-radius: 33.5px;
        opacity: 0.5;
        background: #2F2F2F;
    }
}

/* Modal */

.modal-kutu{
    width: 730px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background: #FFF;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);


    .box-3{
        display: flex;
        width: 634px;
        border: solid 1px rgb(184, 178, 178);
        margin: 25px 40px ;
        border-radius: 10px;

    }

    .box3-1{
        display: flex;
    }

    .radio1 , .radio2 , .radio3 ,.radio4 {
        margin:40px 40px 100px 40px;
    }
    .modal-box3{
        display: block;
        margin-top: 30px;


    }
 
    .box-3-2{
        display: flex;
        margin-top: 25px;
    }
    .box3-1-alt{
        display: flex;
    }
  
    
    h5{
        margin-top: 25px;
        margin-right: 20px;
        color: #7A7A7A;
        font-family: Commissioner;
        font-size: 15px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: left;
        padding-bottom: 20px;


    }
    .modal-baslik{
        margin-left: 45px;
        margin-right: 80px;


        h6{
            margin-top: 25px;
            color: #7A7A7A;
            margin-left: -40px;
        }
        h3{
            font-family: Commissioner;
            font-size: 24px;
            font-weight: 700;
            line-height: 29px;
            letter-spacing: 0px;
            color: #000;
        }
    }
    .modal-close{
        display: flex;
        justify-content: end;
        margin: 10px;
    
    }

    h2{
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        text-align: left;
        margin-right: 15px;
        

    }

    h3{
        font-family: Commissioner;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
        color: #3CB3AB;
        margin-right: 130px;

    }

    h4{
        font-family: Commissioner;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: center;

    }

    h6{
        margin-left: 10px;
        margin-bottom: 5px;
        font-family: Commissioner;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0px;
        text-align: center;

    }
}


.dialog1 , .dialog2 , .dialog3{
    display: flex;
    margin: 5px 15px 45px -70px;
    padding-top: 30px;
    border-top: 2px solid rgb(204, 200, 200);

    .fiyat{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 48px;
        border: 1px solid #b4b3b3;
        border-radius: 30px;
        margin-right: 15px;

        h3{
            margin-right: 10px;
            padding: 0;
            color: #8b8383;
            
        }
        h4{
            margin: 0;
            padding: 0;
        }

    }
    h2{
        font-family: Commissioner;
        font-size: 15px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: left;
        color: #7A7A7A;
        margin-right: 200px;


    }

    .continue , .continue2 , .continue3{
        width: 107px;
        height: 48px;
        border-radius: 30px;
        margin-bottom: -85px;
        font-family: Commissioner;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 0px;
        text-align: center;
        color: #FFF;
        border: none;
        background: #3CB3AB;

    }
}

.complete{
    width: 540px;
    height: 449px;
    border: 1px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background: #FFF;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    

    img{
        position: relative;
        left: 210px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    h4{
        font-family: Commissioner;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0px;
        text-align: center;
        margin-bottom: 35px;

    }

    p{
        font-family: Commissioner;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0px;
        text-align: center;
        margin-left: 35px;
        margin-right: 35px;


    }

    button{
      width: 107px;
      height: 48px;
      margin-left: 210px;
      margin-top: 20px;
      border-radius: 25px;
      border: none;
      background: #3CB3AB;
      color: #FFF;
    }
}


